.board-page {
  height: 100%;
}

.board-page__container {
  height: 100%;
  display: flex;
  flex-direction: column;

  gap: 35px;

}

.board-page__lists {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 15px;
}


.board__info {
  position: fixed;
}
