<div class="screen"
  (mousedown)="closeModal()"
>
  <div class="modal"
    (mousedown)="modalClick($event)"
  >
    <h3 class="modal__title">Create board</h3>

    <form
      class="modal__form"
      [formGroup]="modalForm"
      (submit)="submitForm()"
    >

      <fieldset class="modal__fieldset">
        <label class="modal__label">Name: </label>
        <input
          formControlName="name"
          class="modal__input"
          type="text"
          placeholder="Board name">
      </fieldset>

      <fieldset class="modal__fieldset">
        <label class="modal__label">Description: </label>
        <input
          formControlName="description"
          class="modal__input"
          type="text"
          placeholder="Board description">
      </fieldset>

      <p
        *ngIf="nameError && nameError['maxlength']"
        class="modal__error"
      >
        Name should have less than 18 symbols
      </p>

      <button
        class="modal__button"
        type="submit"
        [disabled]="!modalForm.valid">
        Create
      </button>
    </form>

  </div>
</div>
